body {
    background-color: #e3fdfd;
    color: #112d4e;
   

}

hr {
    height: 3px;
    background-color: #00adb5;
    width: 50%;
    margin: 5rem auto;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-size: 4rem;
}

#headerBlock {
    background-color: #00adb5;
    color: azure;
    padding: 4rem;
    margin: 5rem 0 5rem 0;
}

.subheading {
    margin: 2rem 0 2rem 0;
}

.emptySpace {
    height: 1rem;
}

ul {
    display: table;
    margin: 0 auto;
}

li {
    padding: 0.5rem;
}

.bodyText{
    font-family: 'Quicksand', sans-serif;
    margin: 0 8rem;
}

#roboticsImage {
    margin: 2rem 0 2rem 0;
    width: 8rem;
    height: 8rem;
}

#educationImage {
    margin: 2rem 0 0 0;
    width: 8rem;
    height: 8rem;
}

